@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", serif;
  color: white;
  background-color: #332462da;
}

h5,
h4 {
  font-size: 1rem;
}

.degrees {
  font-size: 5rem;
  margin-top: auto;
}

.details {
  width: 70%;
}

.meteoContainer {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  background-color: #332462da;
}

.welcomeContainer {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  background-color: #332462da;
}
.searchBtn,
.homeBtn {
  border: none;
  background-color: violet;
}

.searchBtn:hover,
.homeBtn:hover {
  background-color: #332462da;
}

.info {
  background-color: #a18ce0;
  color: white;
}

.todayIcon:hover {
  animation: spin 4s linear infinite;
}
.windIcon:hover {
  animation: flow 3s linear infinite;
}

.humidityIcon {
  animation: upDown 4s linear infinite;
}

.cityName {
  animation: load 1s ease-in;
}

.clearSky {
  animation: upDown 4s linear infinite;
}

.overflow-x-auto {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Aggiunge lo scrolling fluido sui dispositivi iOS */
}

@media screen and (min-width: 600px) {
  .meteoContainer {
    width: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes flow {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(50%);
    transform: 1;
  }
}

@keyframes drop {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes load {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(-10%);
  }
  25% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  75% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-10%);
  }
}
